* {
    box-sizing: border-box;
}

body {
        background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAa0lEQVQoU2NkgIKmQ37/6+w2MYK4xpnX/h9piWDgFL4E54MZhBSdna7FyEiMIpBhYBNxWQcyCWYjTjchKwK5nRGbw9EVga3+/lbvP7LvsCkCGYbiRlyKdtW2QDwD0oFPkbDUMogbCSkCGQYAka1/qtQO9d8AAAAASUVORK5CYII=) repeat;
}
      
    
h2 {
  text-align: center;  
  font-family: "Impact";
  color: white;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
  font-size: 2.7em;
}

#image-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

  input {
      width: 100%;
      height: 2em;
      font-size: 1.5em;
      margin: 0 auto 10px;
      border: 2px solid #614949;
  }

  a, a:visited {
      padding: 14px 20px;
      color: #fff;
      background-color: rgb(0, 0, 0, 0.5);
      border: 2px solid #614949;
      margin: 10px auto;
      display: block;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
  }

  a:hover {
      color: #fff;
      background: #614949;
  }

  #canvas {
          margin-bottom: 20px;
          border: 2px solid #614949;
          width: 33.3%;
  }

  @media only screen and (max-width: 1200px){
       #image-container {
           display: flex;
           flex-flow: column nowrap;
           align-items: space-evenly;
           margin: 20px 0;
      }
      
      #canvas {
          width: 100%;
      }


  }